<div class="container" [@itemState]="getState()">
  <div>
    <a [routerLink]="['/item', item.id]">
      <h1>{{ item.name | uppercase }}</h1>
    </a>
    <p class="store" *ngIf="!recentCheckout">No checkouts yet</p>
    <p class="store">{{ recentCheckout?.store?.name }}</p>
    <p class="date">{{ recentCheckout?.date | gbgMoment }}</p>
  </div>
  <div class="right">
    <input
      hidden
      [id]="item.id"
      type="checkbox"
      [ngModel]="item.favorite"
      (ngModelChange)="toggleFavorite()"
    />
    <label [for]="item.id">
      <gbg-star [state]="item.favorite ? 'on' : 'off'"></gbg-star>
    </label>
    <div (click)="toggleNeeded()" class="badge" [@badgeAnimation]="getState()">
      {{ pickupCount }}
    </div>
  </div>
</div>
