@use '../../styles/variables';

article.card {
  div.info {
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .cbholder {
    min-width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    svg {
      margin: 0.2em;
    }
    // height: 50px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
  }
}

.distance {
  margin: 10px 5px;
  font-size: 0.75rem;
}

select {
  font-size: 1.5rem;
  width: 100%;
}

.no-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
  h1,
  p {
    margin: 1.2rem;
    line-height: 1.3rem;
  }
  h1 {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.store-info {
  background-color: variables.$light-heading;
  section {
    display: flex;
    flex-direction: row;
    margin: 4px;
    padding: 10px;
    img {
      width: 71px;
      height: 71px;
    }
    .vicinity {
      margin: 4px 10px;
    }
  }
}

section.brow {
  padding: 0 0.4em;
  display: flex;
  justify-content: space-around;
}

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: variables.$brand;
  font-size: 10px;
  margin: 55px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
