<section *ngIf="!!selectedStore; else loading">
  <select
    [(ngModel)]="selectedStorePlaceId"
    (ngModelChange)="changeStore($event)"
  >
    <option *ngFor="let nbs of nbStores" [value]="nbs.store.placeId">
      {{ nbs.store.name }}
    </option>
  </select>
  <section class="store-info">
    <section>
      <img [src]="selectedStore.store.icon" />
      <div class="vicinity">{{ selectedStore.store.vicinity }}</div>
    </section>
  </section>
  <img
    src="assets/img/powered_by_google_on_white.png"
    alt="powered by Google"
  />
</section>
<ng-template #loading>
  <div class="loader"></div>
</ng-template>
<div *ngIf="neededThings.length === 0 && ready" class="no-items">
  <h1>You don't need anything</h1>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 16 16"
  >
    <path
      d="M0 1V3H2.15287L2.98347 7.98361L2.01942 12.8039C2.00612 12.8704 1.99972 12.9375 2 13.0041C2.00141 13.3451 2 13.6507 2 14C2 15.1046 2.89543 16 4 16C5.10457 16 6 15.1046 6 14H10C10 15.1046 10.8954 16 12 16C13.1046 16 14 15.1046 14 14C14 12.8954 13.1046 12 12 12H4.2198L4.6198 10H15V1H0Z"
    />
  </svg>
  <p>
    Head back over to <a [routerLink]="['/home']">Items</a> and switch on some
    items that you need. They will appear here for you to pick up.
  </p>
</div>
<article
  *ngFor="let pu of neededThings"
  class="card"
  [@cbhState]="pu.picked ? 'picked' : 'notpicked'"
>
  <div (click)="togglePicked(pu)" class="cbholder">
    <gb-checkmark [checked]="pu.picked" duration="100"></gb-checkmark>
  </div>

  <gbg-store-pickup
    class="info"
    [pickup]="pu"
    (aisleChanged)="pickupChanged($event)"
  ></gbg-store-pickup>
</article>
<section class="brow">
  <button [disabled]="!checkoutReady()" (click)="addCheckout()">
    Check Out
  </button>
</section>
<div class="distance">{{ selectedStore?.distance | number: '1.2-3' }}</div>

<div id="map"></div>
