:host {
  display: block;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin: .5em 0;
}

section {
  margin: 40px 10px;
  display: block;
}

textarea {
  font-size: 14px;
}

img {
  display: block;
  max-width: 200px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  font-size: 8px;
}

th,
td {
  padding: 0.5em;
}

.stamp {
  border: thin solid #ccc;
  text-align: center;
  font-size: 0.8em;
  padding: 0.2em 1em;
  margin: 1em;
}
