:host {
    display: block;
}

section {
    margin: 40px 10px;
    display: block;
}

textarea {
    font-size: 14px;
}

button, a {
    font-size: 2em;
}

img {
    display: block;
    max-width: 200px;
}
