<section>
  <div>{{ displayName }}</div>
  <img [src]="photoURL" alt="you">
  <div *ngIf="isAuthenticated; else unAuth">
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #unAuth>
    <a [routerLink]="['/login']">Login</a>
  </ng-template>
</section>
<section *ngIf="isAuthenticated">
  <p>This will erase all gb-grocery data. BE CAREFUL.</p>
  <button (click)="clearData()">Erase</button>
</section>
<section *ngIf="isAuthenticated">
  <textarea [(ngModel)]="jsonInfo" rows="20" cols="35"></textarea>
  <p>This will replace your data from the text above. BE CAREFUL.</p>
  <button (click)="replaceAppInfoForever()">Replace</button>
</section>
<p>CLI: 6.0.3</p>
<div style="width: 100px;height: 100px; background-color:#EA5C81;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#00AAAD;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#AB4A9C;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#FFC60B;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#F95F30;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#B2D235;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#99BC08;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#FFFFFF;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#E24A27;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#96398B;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#009696;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#D3406D;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#F2B200;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#28B5F5;">&nbsp;</div>
<div style="width: 100px;height: 100px; background-color:#03A9F4;">&nbsp;</div>