<section>
  <div>{{ displayName }}</div>
  <img [src]="photoURL" alt="you" />
  <div *ngIf="isAuthenticated; else unAuth">
    <button class="b2" (click)="logout()">Logout</button>
  </div>
  <ng-template #unAuth>
    <a [routerLink]="['/login']">Login</a>
  </ng-template>
</section>
<section *ngIf="isAuthenticated">
  <p>This will erase all gb-grocery data. BE CAREFUL.</p>
  <button class="b2" (click)="clearData()">Erase</button>
</section>
<section *ngIf="isAuthenticated">
  <textarea [(ngModel)]="jsonInfo" rows="20" cols="35"></textarea>
  <p>This will replace your data from the text above. BE CAREFUL.</p>
  <button class="b2" (click)="replaceAppInfoForever()">Replace</button>
</section>
<table *ngIf="showEnviornment">
  <tbody>
    <tr *ngFor="let k of environmentKeys">
      <td>{{ k }}</td>
      <td>{{ env.azure[k] }}</td>
    </tr>
  </tbody>
</table>
<p class="stamp" (click)="toggleEnvironmentTable()">v6 ng13.0 2021-12-02b</p>
