<section>
  <div>{{ displayName }}</div>
  <img [src]="photoURL" alt="you">
  <div *ngIf="isAuthenticated; else unAuth">
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #unAuth>
    <a [routerLink]="['/login']">Login</a>
  </ng-template>
</section>
<section *ngIf="isAuthenticated">
  <p>This will erase all gb-grocery data. BE CAREFUL.</p>
  <button (click)="clearData()">Erase</button>
</section>
<section *ngIf="isAuthenticated">
  <textarea [(ngModel)]="jsonInfo" rows="20" cols="35"></textarea>
  <p>This will replace your data from the text above. BE CAREFUL.</p>
  <button (click)="replaceAppInfoForever()">Replace</button>
</section>
<p>CLI: 1.5.0-rc.2</p>