:host {
  display: block;
}

* {
  box-sizing: border-box;
}

section {
  margin: 40px 10px;
  display: block;
}

textarea {
  font-size: 14px;
}

button,
a {
  font-size: 2em;
}

img {
  display: block;
  max-width: 200px;
}
.swatch-field {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  .swatch {
    margin: 1em;
    padding: 1em;
  }
}
