<div *ngIf="item">
  <h1 [ngClass]="{ needed: item.needed, item: true }">
    {{ item.name | uppercase }}
    <!--
    <gbg-trashcan-icon (click)="deleteItem(item)"></gbg-trashcan-icon>
    -->
    <button class="icon" (click)="deleteItem(item)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
        />
        <path
          fill-rule="evenodd"
          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
        />
      </svg>
    </button>
  </h1>
  <h2>Checkouts</h2>
  <div *ngIf="checkouts.length === 0" class="no-checkouts">
    <h1>Nothing yet</h1>
    <p>
      You have not yet checked out with this item. As you
      <a [routerLink]="['/store']">Check Out</a> in the future, the stores used
      will be listed here.
    </p>
  </div>
  <div *ngFor="let co of checkouts" class="checkout">
    <div class="icon">
      <img [src]="co.store.icon" alt="store icon" />
    </div>
    <div class="detail">
      <a [routerLink]="['/checkout', co.store.id, co.date.toISOString()]">
        <p class="store">{{ co.store.name }}</p>
        <p class="date">{{ co.date | gbgMoment }}</p>
      </a>
      <p class="vicinity">{{ co.store.vicinity }}</p>
      <p class="aisle">{{ getItemPickup(co).aisle }}</p>
    </div>
  </div>
</div>
