@use '../styles/variables';

$header-height: 100px;

:host {
  display: block;
}

.top {
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  background-color: variables.$brand;
  z-index: 99;
}

header {
  align-items: center;
  border: thin solid silver;
  color: white;
  display: flex;
  height: 50%;
  justify-content: space-between;
  margin: 0 0.5em;
  h1 {
    font-size: 1.8em;
    font-weight: bold;
  }
  a {
    color: white;
    padding: 0.5em;
    &.active {
      background-color: darken(variables.$brand, 10);
    }
  }
}

nav {
  align-items: center;
  background-color: white;
  display: flex;
  height: 50%;
  justify-content: space-around;
  justify-items: center;
  a {
    border: thin solid variables.$brand;
    flex: 1 0 auto;
    font-size: 1.2em;
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    background-color: variables.$light-heading;
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: black;
    }
    &.active {
      border-bottom: thin solid white;
      background-color: white;
      font-weight: bold;
    }
  }
}

main {
  padding-top: calc(#{$header-height} + 5px);
}
