@import '../styles/variables';

$header-height: 73px;
$header-padding: 0;

header {
  display: block;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: $brand;
  padding: $header-padding;
  overflow: hidden;
  h1 {
    font-size: 40px;
    font-family: serif;
    color: $white;
  }
}

nav {
  background-color: lighten($grey, 70%);
  height: 33px;
  font-size: 16px;
  display: flex;
  align-items: center;
  a {
    flex: 1 0 auto;
    border: 1px solid $grey;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: $silver;
    &.active {
      border-bottom: none;
      background-color: $white;
      color: $grey;
      font-weight: bold;
    }
  }
}

.content {
  margin-top: $header-height + ($header-padding * 2);
}
