h1 {
    font-size: 1.1em;
}
.addl {
    margin: .2em 0;
    display: block;
    width: 90%;
    input {
        width: 100%;
    }
    section {
        margin-top: 5px;
        button {
            margin: 5px;
        }
    }
}

.id {
    font-size: .7em;
    color: gray;
}