// styles in src/style directory are applied to the whole page
@import "../app/shared/styles/checkbox";

body {
    font-family: Helvetica Neue,Helvetica,Arial;
    font-size: 16px
}

textarea,
button,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}

button {
    background-color: #ccc;
}

select {
   -webkit-appearance: menulist;
    border-radius: 0;
    // border: 1px solid #ccc;
    // font-size: 1.5rem;
    // width: 100%;
    // font-family: Arial, Helvetica, sans-serif
}

article.card {
    display: flex;
    padding: 5px;
    margin: 5px;
    min-height: 6rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px 0 silver;
    transition: background-color linear 0.4s;
    .cbh {
        margin: 20px;
        > div {
            width: 40px;
        }
    }
    .info {
        margin-left: 10px;
        flex: 1 1 auto;
    }
}