:host {
  display: block;
}

ul {
  margin: 0 0.5em;
}

li {
  box-shadow: 0 2px 10px 0 silver;
  margin: 0.2em;
}

.add-item {
  display: flex;
  margin: 2em 0.5em;
  flex-direction: row;
  align-items: stretch;
  input {
    width: 1px;
    flex-grow: 1;
    font-size: 1.4rem;
  }
  button {
    flex-shrink: 0;
  }
}

.no-items {
  margin: 40px 0;

  h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  p {
    margin: 0 20px;
    text-align: center;
    margin-bottom: 1rem;
  }
}
